<section class="container-fluid panel">
    <div id="panelHeader">
        <h1>About Newcastle</h1>
    </div>
    <div id="aboutText">
        <p>{{description}}</p>
    </div>
    <div id="images">
        <div class="col-md-6">
            <div class="thumbail">
                <img src="res\image\newcastle1.jpg" width="100%" height="300px"/>
            </div>
        </div>

        <div class="col-md-6">
            <div class="thumbail">
                <img src="res\image\newcastle2.jpg" width="100%" height="300px"/>
            </div>
        </div>
    </div>
</section>