<div class="container-fluid" style="width: 100%; height: 95vh; overflow: auto; overflow-x: hidden">
    <div class="section">
        <initial-custom-form></initial-custom-form>
    </div>

    <div class="section">
        <about></about>
    </div>

    <div class="section" style="width: 100%; height: 100%; overflow-y: auto; overflow-x: hidden">
        <eventview>Loading...</eventview>
    </div>

    <div class="section">
        <packages-category></packages-category>
    </div>

    <div class="section">
        <activities></activities>
    </div>
</div>
