<section id="packages" class="section panel">
    <div id="panelHeader">
        <h1>Newcastle Holiday Packages</h1>
    </div>
    <div id="aboutText">
        <p>Select a category to begin.</p>
    </div>
    <div class="row">
        <div class="container">
            <div class="col-md-6">
                <div class="thumbnail">
                    <a md-button (click)="openDateForm(1)" style="padding: 0;">
                        <div id="thrillImg">
                            <div class="catTitle">Thrill</div>
                            <div class="catTitle font-sm" >
                                For those who seek a bit of adventure in their life.
                            </div>
                        </div>
                    </a>
                </div>
            </div><!-- col 1-->

            <div class="col-md-6">
                <div class="thumbnail">
                   <!-- <a md-button routerLink="/packages">-->
                   <a md-button (click)="openDateForm(2)" style="padding: 0;">
                        <div id="relaxImg">
                            <div class="catTitle">Relaxation</div>
                            <div class="catTitle font-sm">Packages for those who want a chilled time.</div>
                        </div>
                    </a>
                </div>
            </div><!-- col 2-->

            <div class="col-md-4">
                <div class="thumbnail">
                    <a md-button (click)="openDateForm(3)" style="padding: 0;">
                        <div id="shoppingImg">
                            <div class="catTitle">Shopping</div>
                            <div class="catTitle font-sm">Packages for those who want to shop.</div>
                        </div>
                    </a>
                </div>
            </div><!-- col 3-->

            <div class="col-md-4">
                <div class="thumbnail">
                    <a md-button (click)="openDateForm(4)" style="padding: 0;">
                        <div id="wineImg">
                            <div class="catTitle">Wineries</div>
                            <div class="catTitle font-sm">Packages for those who want to experience Newcastle wineries.</div>
                        </div>
                    </a>
                </div>
            </div><!-- col 4-->

            <div class="col-md-4">
                <div class="thumbnail">
                    <a md-button (click)="openDateForm(5)" style="padding: 0;">
                        <div id="beachImg">
                            <div class="catTitle">On the water</div>
                            <div class="catTitle font-sm">For those who want to spend time in the water</div>
                        </div>
                    </a>
                </div>
            </div><!-- col 5-->
        </div>
    </div><!-- row -->
</section>