<h1 md-dialog-title>Set Date</h1>

<md2-datepicker 
  type="date"
  required="true"
  mode="portrait"
  placeholder="Check-in date"
  tabindex="1"
  openOnFocus="true"
  container="dialog"
  [(ngModel)]="startDate">
</md2-datepicker>
<md2-datepicker 
  type="date"
  required="true"
  mode="portrait"
  placeholder="Check-out date"
  tabindex="1"
  openOnFocus="true"
  container="dialog"
  [(ngModel)]="endDate">
</md2-datepicker>

<p>Nights staying: {{nights}}</p>
<p>Check in: {{startDate}}</p>
<p>Check out: {{endDate}}</p>

<div md-dialog-actions>
  <button md-button (click)="dialogRef.close('cancel')">Cancel</button>
  <button md-button (click)="dialogRef.close('submit')">Search</button>
</div>